body {
    flex-direction: column;
    display: flex;
    align-items: center;
    background-color: #031C30;
}

.logo {
    font-family: 'Controller Ext W01 Five', sans-serif;
    font-size: 56px;
    font-weight: 600;
    color: white;
}


.logo2 {
    margin-left: 15px;
    color: white;
}

#logo-enclousure{
    display: flex;
}

#form{
    display: flex;
    flex-direction: column;
    padding: 40px;
    height: 600px;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    width: 400px;
    background-color: white;
}

#form-logo{
    position: relative;
    top: -170px;
    font-family: 'Controller Ext W01 Five', sans-serif;
    font-size: 36px;
    font-weight: 600;
    color: #031C30;
}
